In [1]:
import pandas as pd
import numpy as np

In [2]:
!dir

 Volume in drive C is Acer
 Volume Serial Number is BCC6-CC82

 Directory of C:\Users\user\Data-Science\EventLomba\Analisis-COVID-19

28/04/2020  10:11    <DIR>          .
28/04/2020  10:11    <DIR>          ..
28/04/2020  10:11    <DIR>          .ipynb_checkpoints
28/04/2020  10:10    <DIR>          Data
28/04/2020  10:10                87 README.md
28/04/2020  10:11                72 Untitled.ipynb
               2 File(s)            159 bytes
               4 Dir(s)  336.120.680.448 bytes free

In [3]:
!cd Data

In [4]:
!dir

 Volume in drive C is Acer
 Volume Serial Number is BCC6-CC82

 Directory of C:\Users\user\Data-Science\EventLomba\Analisis-COVID-19

28/04/2020  10:11    <DIR>          .
28/04/2020  10:11    <DIR>          ..
28/04/2020  10:11    <DIR>          .ipynb_checkpoints
28/04/2020  10:10    <DIR>          Data
28/04/2020  10:10                87 README.md
28/04/2020  10:11                72 Untitled.ipynb
               2 File(s)            159 bytes
               4 Dir(s)  336.122.195.968 bytes free

In [6]:
gpp_country = pd.read_csv("Data/GDP_Country.csv")
mitigation_type = pd.read_csv("Data/mitigation_type.csv")
suppression = pd.read_csv("Data/suppression.csv")

In [7]:
gpp_country.head()

,"Region, subregion, country or area *",country_code,World Bank region,World Bank income grou,GDP 2018
0,Afghanistan,AFG,South Asia,Low income,1955.006208
1,Albania,ALB,Europe & Central Asia,Upper middle income,13364.155400
2,Algeria,DZA,Middle East & North Africa,Upper middle income,15481.787620
3,Angola,AGO,Sub-Saharan Africa,Lower middle income,6452.355165
4,Antigua and Barbuda,ATG,Latin America & Caribbean,High income,26868.133520

In [8]:
mitigation_type.head()

,Country,R0,Strategy,Social_distance,total_pop,total_infected,total_deaths,total_hospital,total_critical
0,Afghanistan,2.4,Enhanced social distancing of elderly,34%,38928341,22235810,42015,342532,55701
1,Afghanistan,2.7,Enhanced social distancing of elderly,38%,38928341,24001697,46456,371943,61587
2,Afghanistan,3.0,Enhanced social distancing of elderly,44%,38928341,25058690,57529,414970,76266
3,Afghanistan,3.3,Enhanced social distancing of elderly,47%,38928341,26214010,60640,434649,80429
4,Afghanistan,2.4,Social distancing whole population,37%,38928341,21576989,55929,378738,74147

In [9]:
suppression.head()

,Country,R0,Strategy,Social_distance,Deaths per week at trigger,total_pop,total_infected,total_deaths,total_hospital,peak_hospital_bed_demand,total_critical,peak_critical_bed_demand
0,Afghanistan,3,Unmitigated,0.75,NaN,38928341,36140196,76973,567916,240272,102693,39621
1,Albania,3,Unmitigated,0.75,NaN,2877800,2464424,19300,97298,36061,25569,8024
2,Algeria,3,Unmitigated,0.75,NaN,43851043,38824343,191145,1118956,459923,253553,90068
3,Angola,3,Unmitigated,0.75,NaN,32866268,30110663,57385,438605,183326,75970,29050
4,Antigua and Barbuda,3,Unmitigated,0.75,NaN,97928,84247,504,2795,1048,667,215